# Phase 1 

1) Webscrape the provided URL  - IMDB dataset:

https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1

2) Store the entire data in two different CSV files as per the given fields:

The first CSV file data contains :
Sno, Movie Name, Director Name, Duration, year, ratings, Metascore
Bifurcate the Director field into subfields as per the number of directors of the movie belongs to such as Director1, director2

The second CSV file contains the following:
Movie Name, stars, votes, Genre, Gross collection, popularity, Certification
Bifurcate the stars field into 4 subfields as per the number of stars worked in the movie such as star1, star2, star3, star4
Bifurcate the genre into 3 subfields as per the number of genres the movie belongs to such as :
Genre1, genre2, genre3

In [1]:
!pip install bs4
!pip install requests
!pip install selenium

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,ElementNotInteractableException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [4]:
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")

# We'll start with scraping data

In [5]:
#file 1
Sno=[] 
Movie_name=[]
Director_name=[]
Duration=[]
year=[]
ratings=[]
metascore=[]

#file 2
votes=[]
stars=[]
Genre=[]
Gross_collection=[]
popularity=[]
Certification=[]

In [6]:
# For File 1
start =0
end= 49
delay=10
for page in range(start,end):
    WebDriverWait(driver,delay)

    try:
        s_no = driver.find_elements(By.XPATH, '//span[@class="lister-item-index unbold text-primary"]')
        for i in s_no:
            Sno.append(i.text)
    except NoSuchElementException:
        Sno.append('-')
        
        
    try:
        movie = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')
        for i in movie:
            Movie_name.append(i.text.split()[1:-1])
    except NoSuchElementException:
        Movie_name.append('-')
        
    
    try:
        duration= driver.find_elements(By.XPATH, '//span[@class="runtime"]')
        for i in duration:
            Duration.append(i.text)
    except NoSuchElementException:
        Duration.append('-')
        
        
    try:
        Yr= driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
        for i in Yr:
            year.append(i.text)
    except NoSuchElementException:
        year.append('-')
        
        
    try:
        Rating= driver.find_elements(By.XPATH, '//div[@class="inline-block ratings-imdb-rating"]')
        for i in Rating:
            ratings.append(i.text)
    except NoSuchElementException:
        ratings.append('-')
            
    
    try:
        score= driver.find_elements(By.XPATH, '//div[@class="inline-block ratings-metascore"]')
        for i in score:
            metascore.append(i.text)
    except NoSuchElementException:
        metascore.append('None')
    
    
# For File 2
    try:
        Votes= driver.find_elements(By.XPATH, '//p[@class="sort-num_votes-visible"]')
        for i in Votes:
            votes.append(i.text.strip().split()[1])
    except NoSuchElementException:
        metascore.append('-')
        
    
    try:
        gross= driver.find_elements(By.XPATH, '//p[@class="sort-num_votes-visible"]')
        for i in gross:
            Gross_collection.append(i.text.strip().split()[-1])
    except NoSuchElementException:
        Gross_collection.append('-')
    
    try:
        genre= driver.find_elements(By.XPATH, '//span[@class="genre"]')
        for i in genre:
            Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')

    try:
        certificate= driver.find_elements(By.XPATH, '//span[@class="certificate"]')
        for i in certificate:
            Certification.append(i.text)
    except NoSuchElementException:
        Certification.append('-')
    
    
# (For separating Director and Stars into two fields)
    
    try:
        link = driver.find_elements(By.XPATH, '//*[@id="main"]/div/div[3]/div/div[position()>=1 and position()<=1700]/div[3]/p[3]')
        for i in link:
            Director_name.append(i.text.strip()[10:].split('|')[0:1])
            stars.append(i.text.strip()[15:].split('|')[1:])
    except NoSuchElementException:
        Director_name.append('-')
        stars.append('-')

    
# Repeating this for all pages
    try:
        next_button=driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
        next_button.click()
    except NoSuchElementException:
        pass
        time.sleep(3)

In [14]:
driver.close()

In [7]:
print(len(Sno),len(Movie_name),len(Director_name),len(Duration),len(year),len(ratings),len(metascore),len(votes),len(stars),len(Genre),len(Gross_collection),len(Certification))

2058 2058 2058 2058 2058 2058 1727 2058 2058 2058 2058 2009

In [8]:
import pandas as pd
Df1=pd.DataFrame({'Serial_Number':Sno[:1700],'Movie_name':Movie_name[:1700],'Director_name':Director_name[:1700],'Duration':Duration[:1700],'Year':year[:1700],'Ratings':ratings[:1700],'Metascore':metascore[:1700]})
Df1.head()

,Serial_Number,Movie_name,Director_name,Duration,Year,Ratings,Metascore
0,1.,"[The, Dark, Knight]",[Christopher Nolan ],152 min,(2008),9.0,84 Metascore
1,2.,"[The, Lord, of, the, Rings:, The, Return, of, ...",[Peter Jackson ],201 min,(2003),9.0,94 Metascore
2,3.,"[Spider-Man:, Across, the, Spider-Verse]","[ Joaquim Dos Santos, Kemp Powers, Justin K. T...",140 min,(2023),8.9,86 Metascore
3,4.,[Inception],[Christopher Nolan ],148 min,(2010),8.8,74 Metascore
4,5.,"[The, Lord, of, the, Rings:, The, Fellowship, ...",[Peter Jackson ],178 min,(2001),8.8,92 Metascore

In [9]:
Df1.tail()

,Serial_Number,Movie_name,Director_name,Duration,Year,Ratings,Metascore
1695,"1,696.","[Howard, the, Duck]",[Willard Huyck ],110 min,(1986),4.7,37 Metascore
1696,"1,697.","[Kisi, Ka, Bhai, Kisi, Ki, Jaan]",[Farhad Samji ],145 min,(2023),4.7,33 Metascore
1697,"1,698.",[Elektra],[Rob Bowman ],97 min,(2005),4.7,27 Metascore
1698,"1,699.","[The, Spirit]",[Frank Miller ],103 min,(2008),4.7,12 Metascore
1699,"1,700.","[Zoolander, 2]",[Ben Stiller ],101 min,(2016),4.7,14 Metascore

In [10]:
Df2=pd.DataFrame({'Movie_name':Movie_name[:1700], 'Votes':votes[:1700],'Stars':stars[:1700],'Genre':Genre[:1700],'Gross_Collection':Gross_collection[:1700],'Certification':Certification[:1700]})
Df2.head()

,Movie_name,Votes,Stars,Genre,Gross_Collection,Certification
0,"[The, Dark, Knight]","2,747,989","[ Stars: Christian Bale, Heath Ledger, Aaron E...","Action, Crime, Drama",$534.86M,PG-13
1,"[The, Lord, of, the, Rings:, The, Return, of, ...","1,901,705","[ Stars: Elijah Wood, Viggo Mortensen, Ian McK...","Action, Adventure, Drama",$377.85M,PG-13
2,"[Spider-Man:, Across, the, Spider-Verse]","192,473","[ Stars: Shameik Moore, Hailee Steinfeld, Bria...","Animation, Action, Adventure","192,473",PG
3,[Inception],"2,438,839","[ Stars: Leonardo DiCaprio, Joseph Gordon-Levi...","Action, Adventure, Sci-Fi",$292.58M,PG-13
4,"[The, Lord, of, the, Rings:, The, Fellowship, ...","1,930,013","[ Stars: Elijah Wood, Ian McKellen, Orlando Bl...","Action, Adventure, Drama",$315.54M,PG-13

In [11]:
Df2.tail()

,Movie_name,Votes,Stars,Genre,Gross_Collection,Certification
1695,"[Howard, the, Duck]","49,317","[ Stars: Lea Thompson, Jeffrey Jones, Tim Robb...","Action, Adventure, Comedy",$16.30M,R
1696,"[Kisi, Ka, Bhai, Kisi, Ki, Jaan]","39,040","[ Stars: Salman Khan, Pooja Hegde, Venkatesh D...","Action, Comedy, Drama","39,040",PG-13
1697,[Elektra],"95,705","[ Stars: Jennifer Garner, Goran Visnjic, Will ...","Action, Adventure, Crime",$24.41M,PG-13
1698,"[The, Spirit]","62,198","[ Stars: Gabriel Macht, Samuel L. Jackson, Sca...","Action, Crime, Fantasy",$19.78M,Not Rated
1699,"[Zoolander, 2]","73,390","[ Stars: Ben Stiller, Owen Wilson, Penélope Cr...","Action, Adventure, Comedy",$28.85M,Not Rated

In [12]:
Df1.to_csv("IMDb_dataset1.csv", index=False)

In [13]:
Df2.to_csv("IMDb_dataset2.csv", index=False)

After bifurcating datas in excel, let's check the final files

In [16]:
df1 = pd.read_csv("C:\\Users\\hp\\IMDb_dataset_1.csv")
df1

,Serial_Number,Movie_name,Director_name,Director2,Director3,Director4,Director5,Director6,Duration,Year,Ratings,Metascore
0,1,The Dark Knight,Christopher Nolan,None,None,None,None,None,152 min,2008,9.0,84 Metascore
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,None,None,None,None,None,201 min,2003,9.0,94 Metascore
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,None,None,None,140 min,2023,8.9,86 Metascore
3,4,Inception,Christopher Nolan,None,None,None,None,None,148 min,2010,8.8,74 Metascore
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,None,None,None,None,None,178 min,2001,8.8,92 Metascore
...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,Howard the Duck,Willard Huyck,None,None,None,None,None,110 min,1986,4.7,37 Metascore
1696,1697,Kisi Ka Bhai Kisi Ki Jaan,Farhad Samji,None,None,None,None,None,145 min,2023,4.7,33 Metascore
1697,1698,Elektra,Rob Bowman,None,None,None,None,None,97 min,2005,4.7,27 Metascore
1698,1699,The Spirit,Frank Miller,None,None,None,None,None,103 min,2008,4.7,12 Metascore
1699,1700,Zoolander 2,Ben Stiller,None,None,None,None,None,101 min,2016,4.7,14 Metascore

In [17]:
df2 = pd.read_csv("C:\\Users\\hp\\IMDb_dataset_2.csv")
df2

,Movie_name,Votes,Stars,Star2,Star3,Star4,Genre1,Genre2,Genre3,Gross_Collection,Certification
0,The Dark Knight,"27,47,989",Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama,$534.86M,PG-13
1,The Lord of the Rings: The Return of the King,"19,01,705",Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama,$377.85M,PG-13
2,Spider-Man: Across the Spider-Verse,"1,92,473",Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,Animation,Action,Adventure,"1,92,473",PG
3,Inception,"24,38,839",Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi,$292.58M,PG-13
4,The Lord of the Rings: The Fellowship of the Ring,"19,30,013",Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama,$315.54M,PG-13
...,...,...,...,...,...,...,...,...,...,...,...
1695,Howard the Duck,"49,317",Lea Thompson,Jeffrey Jones,Tim Robbins,Ed Gale,Action,Adventure,Comedy,$16.30M,R
1696,Kisi Ka Bhai Kisi Ki Jaan,"39,040",Salman Khan,Pooja Hegde,Venkatesh Daggubati,Jagapathi Babu,Action,Comedy,Drama,"39,040",PG-13
1697,Elektra,"95,705",Jennifer Garner,Goran Visnjic,Will Yun Lee,Kirsten Zien,Action,Adventure,Crime,$24.41M,PG-13
1698,The Spirit,"62,198",Gabriel Macht,Samuel L. Jackson,Scarlett Johansson,Jaime King,Action,Crime,Fantasy,$19.78M,Not Rated
1699,Zoolander 2,"73,390",Ben Stiller,Owen Wilson,Penélope Cruz,Will Ferrell,Action,Adventure,Comedy,$28.85M,Not Rated